@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,300,700');
*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif
}

li{ 
    font-family: Arial, Helvetica, sans-serif;
}

.tituloInicio{
    min-width: 400px;
    text-align:center;
    font-size:50px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: pink;
}

.barra-nav{
    display: flex;
    justify-content:center;
    list-style: none;
}

.logotipo{
  justify-content:center;
}

.textFooter{
  color: white;
}

.container {
  display: grid;
  place-content: center;
}

@media only screen and (min-width:320px)
and(max-width:500px){
    body{
        background-color: aqua;
    }
}

@media only screen and (min-width:500px)
and(max-width:1000px){
    body{
        background-color: coral;
    }
}

* {
  font-family: Roboto;
}

.footer-distributed {
  background-color: pink;;
  box-shadow: 0 1px 1px 0 pink  transparent;;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 2px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.galeria {
  height: calc( var(--h) + 3em);
  width: var(--w);
  margin:1em;
  border: 1px solid #555;
  position: relative;
  display:inline-block;
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-1 * var(--h) - 1.5em);
  left: .5em;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }